services:
  swarm_robot:
    build:
      context: .
      dockerfile: swarm_docker_img/Dockerfile.tar.amd64

    image: swarm_test
    container_name: swarm_robot

    network_mode: host
    privileged: true
    ipc: host
    pid: host

    restart: unless-stopped

    environment:
      ROS_DOMAIN_ID: 0
      RMW_IMPLEMENTATION: rmw_fastrtps_cpp
      ROS_LOCALHOST_ONLY: 0
      ROBOT_IDX: 1


    volumes:
      - /dev:/dev
      - /run/udev:/run/udev:ro
      - /etc/localtime:/etc/localtime:ro
